<html>

<head>
  <title>Testing</title>
  <style>
    #Right_Aln {
      float: right;
      background-color: #E6E6FA;
      width: 45%;
      color:#00008B
    }
    #Left_Aln {
      float: left;
      background-color: #E6E6FA;
      width: 95%;
      color:#00008B
    }
     img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  </style>
</head>

<body>

<p> 
	<img id="logo" src= {{ url_for('static', filename='images/ge.jpg') }} ALIGN=”right”/>
    <h1 style="text-align:center;color:green"> Green Engine </h1> </p>
    
<section id="Left_Aln">
    <form >
    <p style="text-align:left;"> <h1> &nbsp;&nbsp; Pickup History </h1> </p>

 {% for data in bookedData %}   
    <p><h2> &nbsp;&nbsp;&nbsp; Pickup Id: {{data.Booking}} </h2></p> 
        <p> -------------------------------------------------------------------------------------</p>
 {% endfor %} 
 
 {% for data in pickedData %}   
    <p><h2> &nbsp;&nbsp;&nbsp; Pickup Id: {{data.Booking}} </h2></p> 
          <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Clothes: {{data.Clothes}} kg.</p> 
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Electronics: {{data.Electronics}} kg.</p> 
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NewsPaper: {{data.NewsPaper}} kg.</p>
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Utensils: {{data.Utensils}} kg.</p>
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Toys: {{data.Toys}} kg.</p>
        <p><h2> &nbsp;&nbsp;&nbsp; Rewards: {{data.Rewards}} </h2></p> 
        <p> -------------------------------------------------------------------------------------</p>
{% endfor %}
   <p><h2> &nbsp;&nbsp;&nbsp; Total Rewards: {{totalRewards}} </h2></p> 
    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/">Home</a> </p>

	</form>
  </section>
    <img id="message" src= {{ url_for('static', filename='images/rrr.jpg') }} style="width:25%;"/>
</body>
</html>
